# ----------------------------------------------------------------
# Files to be ignored by git
# ----------------------------------------------------------------

# misc.
persistent

# text files
errors.txt
log.txt
script.txt

# compiled renpy scripts
*.rpyc
*.save
